/* colors */

$white: #ffffff;
$wild-sand: #F4F4F4;
$alto: #D1D1D1;
$alto-2: #D9D9D9;
$grey: #8D8D8D;
$black: #000000;
$silver: #C2C2C2;
$mine-shaft: #333333;
$mine-shaft-2:#3E3E3E;
$cod-gray: #131212;
$coral-red: #FF4242;

$alizarin-crimson: #E52A2A;
$sunflower: #E5BC2A;
$malachite: #2AE53D;

$rainbow-red: #FF0000;
$rainbow-purple: #FA00FF;
$rainbow-blue: #0400D2;
$rainbow-cyan: #00B2FF;
$rainbow-green: #00FF57;
$rainbow-yellow: #DBF72C;
$rainbow-orange: #FF8A00;


/* other */

$border-radius-5: 5px;
