@import '_variables';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.page-container {
    padding: 0 55px;
}

:root {
    --background-color-2: #{$wild-sand};
    --promo-btn-background-color: #{$coral-red};
    --main-white-text-color: #{$white};
    --main-black-text-color: #{$black};
    --secondary-text-color: #{$mine-shaft};
    --shadow-color: #{$black};
    --main-border-radius: #{$border-radius-5};
    --search-input-border-color: #{$alto};
    --search-label-text-color: #{$grey};
    --search-item-space-line-color: #{$alto-2};
    --terminal-background-color: #{$cod-gray};
    --terminal-text-color: #{$alto-2};
    --terminal-secondary-background-color: #{$mine-shaft-2};
    --terminal-close-icon: #{$alizarin-crimson};
    --terminal-minimize-icon: #{$sunflower};
    --terminal-resize-icon: #{$malachite};
    --terminal-title-text: #{$silver};
}